{
  description = "This machine: Omnix plus one flavor. Yours to edit.";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    omnix = { url = "github:Omnix-Linux/Omnix"; inputs.nixpkgs.follows = "nixpkgs"; };
    @FLAVOR_INPUT@
  };

  outputs = { nixpkgs, omnix, @FLAVOR_ARGS@... }: {
    nixosConfigurations.omnix = nixpkgs.lib.nixosSystem {
      system = "x86_64-linux";
      modules = [
        omnix.nixosModules.default
        @FLAVOR_MODULES@
        ./hardware-configuration.nix
        ./local.nix
      ];
    };
  };
}
