{
  description = "This machine: FyxOS plus one flavor. Yours to edit.";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    fyxos = { url = "github:FyxOS/FyxOS"; inputs.nixpkgs.follows = "nixpkgs"; };
    @FLAVOR_INPUT@
  };

  outputs = { nixpkgs, fyxos, @FLAVOR_ARGS@... }: {
    nixosConfigurations.fyxos = nixpkgs.lib.nixosSystem {
      system = "x86_64-linux";
      modules = [
        fyxos.nixosModules.default
        @FLAVOR_MODULES@
        ./hardware-configuration.nix
        ./local.nix
      ];
    };
  };
}
